<div class="create_course_container">
    <h1 class="title">Create Course</h1>
    <div class="create_course_form_div mx-auto">
        <div class="field_Container">
            <div class="field_div">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label class="form_label">Course Title</mat-label>
                    <input matInput placeholder="Course Title">
                </mat-form-field> 
            </div>
            <div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label class="form_label">Course Price</mat-label>
                    <span matPrefix class="form_label">$ &nbsp;</span>
                    <input type="tel" matInput placeholder="Course Price">
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label class="form_label">Course Category</mat-label>
                    <mat-select>
                      <mat-option>Select Category</mat-option>
                      <!-- <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option> -->
                      <mat-option>Category</mat-option>
                      <mat-option>Category</mat-option>
                      <mat-option>Category</mat-option>
                      <mat-option>Category</mat-option>
                      <mat-option>Category</mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label class="form_label">Course Total Video</mat-label>
                    <input type="tel" matInput placeholder="Course Total Video">
                  </mat-form-field>
            </div>
            <div>
                <label class="img_input_label my-2">Upload Course Image</label>
                <input type="file" class="custom-file-input">
            </div>
            <div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label class="form_label">Course Chapter Description</mat-label>
                    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                  </mat-form-field>
            </div>
    
            <div class="video_field_div">
                <div>
                    <div class="" *ngFor="let chap of Chapters; let i = index">
                        <div>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label class="form_label">Chapter Title</mat-label>
                                <input  name='Chapter{{i}}' (change)="OnChangeHandler( $event)" matInput placeholder="Course Title">
                            </mat-form-field>
                        </div>
                        <div >
                            <label class="img_input_label my-2">Upload Chapter Video</label>
                            <input multiple name='Chapter{{i}}' type="file"  (change)="OnVideoChangeHandler( $event)" class="custom-video-input">
                        </div>
                   </div>
                </div>
                <div class="increase_div">
                    <img src="../../../../assets/plus-20.png" (click)="ChapterIncrease()" alt="">
                </div>
            </div>
        </div>

     <div class="Text_editor_contaienr">
        <label class="form_label my-3">Write Course Description</label>
        <angular-editor placeholder="'Enter text here...'" [(ngModel)]="htmlContent" [config]="config"></angular-editor>
     </div>
        <!-- <div [innerHTML]="htmlContent">

        </div> -->
        <!-- <button (click)="SubmitHandler()">Submit</button> -->
    </div>
</div>
