<section class="footer_section">
    <div class="container footer_div pb-4">
        <div class="mx-auto">
            <h1 class="heading_text">Our mission is to provide a free, world-class education to anyone, anywhere.</h1>
            <h1 class="heading_text">Education Network is a 501(c)(3) nonprofit organization. Donate or volunteer today!</h1>
        </div>
        <div class="ms-auto">
            <li class="footer_list">About</li>
            <li class="footer_list">News</li>
            <li class="footer_list">Impact</li>
            <li class="footer_list">Our team</li>
            <li class="footer_list">Our interns</li>
            <li class="footer_list">Our content specialists</li>
            <li class="footer_list">Our leadership</li>
            <li class="footer_list">Our supporters</li>
            <li class="footer_list">Our contributors</li>
            <li class="footer_list">Our finances</li>
            <li class="footer_list">Careers</li>
            <li class="footer_list">Internships</li>
        </div>
        <div class="mx-auto">
            <li class="footer_list">Contact</li>
            <li class="footer_list">Help center</li>
            <li class="footer_list">Support community</li>
            <li class="footer_list">Share your story</li>
            <li class="footer_list">Press</li>
            <li class="footer_list">Download our apps</li>
            <li class="footer_list">iOS app</li>
            <li class="footer_list">Android app</li>
        </div>
        <div>
            <li class="footer_list">Courses</li>
            <li class="footer_list">Math: Pre-K - 8th grade</li>
            <li class="footer_list">Math: Get ready courses</li>
            <li class="footer_list">Math: high school & college</li>
            <li class="footer_list">Test prep</li>
            <li class="footer_list">Science</li>
            <li class="footer_list">Computing</li>
            <li class="footer_list">Arts & humanities</li>
            <li class="footer_list">Economics</li>
            <li class="footer_list">Reading & language arts</li>
            <li class="footer_list">Life skills</li>
        </div>
    </div>
<hr class="hr_line my-2">
    <div class="below_footer_row">
        <div class="d-flex">
            <p class="lowar_footer_text mx-2">© 2022 Education Network</p>
            <p class="lowar_footer_text mx-2">Terms of use</p>
            <p class="lowar_footer_text mx-2">Privacy Policy</p>
            <p class="lowar_footer_text mx-2">Cookie Notice</p>
        </div>
        <div class="img_div d-flex">
            <img class="img_icon mx-3" src="../../../assets/icons8-facebook-24.png" alt="">
            <img class="img_icon mx-3" src="../../../assets/icons8-twitter-circled-24.png" alt="">
            <img class="img_icon mx-3" src="../../../assets/icons8-twitter-circled-24.png" alt="">
        </div>
    </div>
</section>
