<div>
    <label for="cars">Choose a Position:</label>
        <select name="cars" id="cars">
            <option *ngFor="let posi of positions" value="volvo">{{posi?.Position}}</option>
        </select>


    <h1 class="text-center">Employee Here </h1>
    <div class="d-flex flex-row justify-content-evenly flex-wrap" *ngIf="emplyeeArr.length > 0">
        <div  *ngFor="let employe of emplyeeArr">
            <h3>Name: {{employe.Name}}</h3>
            <h4>Position: {{employe.Position}}</h4>
            <h4>Salary: {{employe.Salary}}</h4>
            <h5>City:{{employe.City}}</h5>
            <div class="d-flex">
                <button (click)="UpdateHandler(employe.id)" class="btn btn-warning  mx-2">Update</button>
                <button (click)="DeleteHandler(employe.id)" class="btn btn-danger  mx-2">Delete</button>
            </div>
        </div>
    </div>
    <div  *ngIf="emplyeeArr.length == 0">
        <h1>Loading...</h1>
    </div>

    <h1 class="text-center">Two Table Data Here </h1>
    <div class="d-flex flex-row justify-content-evenly flex-wrap" *ngIf="twoTableData.length > 0">
        <div  *ngFor="let data of twoTableData">
            <h3>Name: {{data.name}}</h3>
            <h4>Position: {{data.Position}}</h4>
            <h4>Subject: {{data.subject}}</h4>
            <h5>City:{{data.City}}</h5>
            <h5>City:{{data.roll}}</h5>
            
        </div>
    </div>

    <img class="userImg" src="data:image/jpeg;base64,{{images[1]?.imgthree}}" />
</div>
