<div class="dashboard_section">
    <div class="dashboard_container">
        <div class="sidebar">
            <p class="text-center main_title"><span class="dashboard_title">E</span>ducatin</p>
            <p class="text-center main_title">Networ<span class="dashboard_title">R</span></p>
            <hr class="text-white">
            <li class="mx-auto" routerLink="Admin-home">Home</li>
            <li class="mx-auto" routerLink="create-course">Create Course</li>
            <li class="mx-auto" routerLink="employee-view">Employee View</li>
            <li class="mx-auto" routerLink="employee-create">Employee Create</li>
        </div>
        <div class="d-flex flex-row align-items-center juctify-content-center" *ngIf="isVisible">
            <h1 >Welcome To dashboard</h1>
        </div>
        <div class="content_container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
