
  <h2 mat-dialog-title>Update Employee Details</h2>
  <mat-dialog-content class="mat-typography">
    <form class="d-flex flex-column" (ngSubmit)="UpdateClick()">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="name" name="name" [value]="name" class="inputs" matInput>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input [(ngModel)]="city" name="city" [value]="city" class="inputs" matInput>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
        <mat-label>position</mat-label>
        <input [(ngModel)]="position" name="position" [value]="position" class="inputs" matInput>
        </mat-form-field>
    
        <mat-form-field appearance="fill">
        <mat-label>salary</mat-label>
        <input [(ngModel)]="salary" name="salary" [value]="salary" class="inputs" matInput>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
        <mat-label>country</mat-label>
        <input [(ngModel)]="country" name="country" [value]="country" class="inputs" matInput>
        </mat-form-field>
    

        <button type="submit" color="accent" mat-button [mat-dialog-close]="false" cdkFocusInitial>Confirm</button>
    </form>


  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button color="primary" mat-button [mat-dialog-close]="true">Cancel</button>

  </mat-dialog-actions>
  