<section class="everything_section">
    <h1 class="main_heading">Everything You Need, All In One Spot</h1>
    <p class="text text-center">Education Network is trusted by thousands of teachers and schools all over the world</p>
    <div class="everything_div container mx-auto">
        <div class="d-flex flex-row align-items-center my-3">
            <mat-icon size="" class="icons" aria-hidden="false" aria-label="Example home icon" fontIcon="laptop_windows"></mat-icon>
            <div class="mx-3">
                <h1 class="heading">LMS</h1>
                <p class="text">Classroom management tools and integrations for student rosters, data, assignments, and grades.</p>
            </div>
        </div>
        <div  class="d-flex flex-row align-items-center my-3">
            <mat-icon class="icons" aria-hidden="false" aria-label="Example home icon" fontIcon="terminal"></mat-icon>
            <div class="mx-3">
                <h1 class="heading">IDE</h1>
                <p class="text">Write, run, and debug code in 10+ languages right in your browser - no downloads needed!</p>
            </div>
        </div>
        <div  class="d-flex flex-row align-items-center my-3">
            <mat-icon size="" class="icons" aria-hidden="false" aria-label="Example home icon" fontIcon="stars"></mat-icon>
            <div class="mx-3">
                <h1 class="heading">Education Network Pro</h1>
                <p class="text">All the tools, resources, and support your school needs to run a successful computer science program.</p>
            </div>
        </div>
        <div  class="d-flex flex-row align-items-center my-3">
            <mat-icon size="" class="icons" aria-hidden="false" aria-label="Example home icon" fontIcon="checklist_rtl"></mat-icon>
            <div class="mx-3">
                <h1 class="heading">Curriculum</h1>
                <p class="text">Over 60 free intro to AP computer science courses with standards alignment, lesson plans, and more.</p>
            </div>
        </div>
        <div  class="d-flex flex-row align-items-center my-3">
            <mat-icon size="" class="icons" aria-hidden="false" aria-label="Example home icon" fontIcon="workspace_premium"></mat-icon>
            <div class="mx-3">
                <h1 class="heading">Certifications</h1>
                <p class="text">Industry-relevant computer science certification exams for high school students.</p>
            </div>
        </div>
        <div  class="d-flex flex-row align-items-center my-3">
            <mat-icon size="" class="icons" aria-hidden="false" aria-label="Example home icon" fontIcon="cast_for_education"></mat-icon>
            <div class="mx-3">
                <h1 class="heading">Professional Development</h1>
                <p class="text">Quality in-person, online, and virtual professional development for new and experienced teachers.</p>
            </div>
        </div>
    </div>
</section>
